<% provide(:title, "View forums") %>

<% current_id = 0 %>

<% @forums.each do |forum| %>
  <% if current_id != forum.category.id %>       <%# if to display the forum header just once per loop %>
    <div class="row-fluid">
      <div class="span12 forum-header">
        <%= forum.category.name %><%= current_id %>
  <% end %>
    <div class="row-fluid forum-info">
      <div class="span3 forum-name"><h4><i class="icon-folder-close-alt">
      	</i> <%= link_to forum.name, forum_path(forum) %></h4>
      	<div class="row-fluid"><!-- begin nested row -->
      		<div class="span12 forum-description"><%= forum.description %></div>
      	</div><!-- end nested row -->
      </div>
      <div class="span4 forum-description"><h4><small>Nice e</small></h4></div>
      <div class="span2 offset3 topic-count">Topics
      	<div class="row-fluid">
      		<div class="span12"><%= forum.topics.size %></div>curid: <%= current_id %>
      	</div>
      </div>	
    </div>
    <% current_id = forum.category.id %>
    <% end %>
  </div>
</div>
</div>
</div>
<%= @forums %>
